<!DOCTYPE html>
<html lang="en">
<head>

     <title>myDomus</title>
<!--

Known Template

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="bootstrap.min.css">
     <link rel="stylesheet" href="font-awesome.min.css">
     <link rel="stylesheet" href="owl.carousel.css">
     <link rel="stylesheet" href="owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="shareYourThoughts.css">
     <link rel="stylesheet" href="templatemo-style.css">


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
