h2{
  text-align: center
}
.welcomeMessage{
  font-size: 18px;
  margin: 8% 0% 4% 0%;
  font-family: unset;
}
.col-md-4{
  width: 90%
}
.feature-thumb span{
  width: 122px;
}

#mapid {
  height: 1000px;
  width: 90%;
  margin-left: 4%;
}
.leaflet-popup-content {
  width: 650px
}
li{
  list-style: none;
}
.lookedUpHomes{
  list-style: none;
  border: 1px solid black;
  line-height: 41px;
  margin: 1%
}
.userInfoInputArea{
  font-weight: bolder;
  font-size: 36px;
  font-family: inherit;
  line-height: 70px;
}
.userInputArea{
  color: #474954;
border-bottom-left-radius: 5px;
  transition: 0.5s;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    max-width: 100%;
    width: 22%;
}
.courses{
  padding: 50px 0;
}
.questionSection{
  float: left;
    padding: 2% 1% 4.15% 1%;
    width: 50%;
}
.userInfoSection{
  order: 2px solid black;
    float: left;
    padding: 1% 10% .7% 13%;
    width: 50%;
}
#team{
  overflow: auto;
}
.submitForm{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 20%;
    font-size: 17px;
}
.userInfoName{
  border: .1px solid black;
padding: 1%;
}
.userInfoIncome{
  border: .1px solid black;
padding: 1%;
}
.homePrice{
  font-size: 40px;
}
.averageHomePriceTitle{
  text-align: center;
    font-size: 43px;
}
.averageHomePrice{
  text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.averageHomePriceDollarSign{
  text-align: center;
    font-size: 50px;
    font-weight: bolder;
}
.introduceHome{
  font-size: 42px;
}
.exampleHomeStreet{
  font-size: 40px;
  }
.exampleHomeCity{
    font-size: 40px;
    }
.exampleHomeState{
  font-size: 40px;
  }
.exampleHomeZipcode {
  font-size: 40px;
}
.homeRoomInfo{
  font-size: 42px;
}
.clickToGetMoreInfoOnHome{
  font-size: 25px;
}
