.welcomeMessage{
  font-size: 18px;
  margin: 8% 0% 4% 0%;
  font-family: unset;
}
.col-md-4{
  width: 90%
}
.feature-thumb span{
  width: 122px;
}

#mapid {
  height: 620px;
  width: 90%;
  margin-left: 4%;
}
.leaflet-popup-content {
  width: 650px
}
li{
  list-style: none;
}
